apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs-app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nodejs-app
  template:
    metadata:
      labels:
        app: nodejs-app
    spec:
      containers:
      - name: nodejs-app
        image: vaibdan/nodejs-gitops-app:7380998b1a2aab11ed3609be5ebc70adc9f371c9
        ports:
        - containerPort: 8080