apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs-app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nodejs-app
  template:
    metadata:
      labels:
        app: nodejs-app
    spec:
      containers:
      - name: nodejs-app
        image: vaibdan/nodejs-gitops-app:ea7aecb6c64312c07928210c936be277a1049922
        ports:
        - containerPort: 8080